In [5]:
import pandas as pd
shipment = pd.read_csv("logistics_shipments_dataset.csv")
shipment.head(10)

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
5,SH10005,Warehouse_ATL,New York,FedEx,2023-09-13,2023-09-16,9.1,143.26,Delivered,898,3
6,SH10006,Warehouse_BOS,Houston,UPS,2023-10-19,2023-10-23,0.4,225.23,Delivered,1522,4
7,SH10007,Warehouse_CHI,Portland,Amazon Logistics,2023-02-27,2023-03-08,16.7,281.23,Delivered,2013,9
8,SH10008,Warehouse_HOU,Detroit,Amazon Logistics,2023-11-24,2023-12-01,15.1,341.93,Delivered,2072,7
9,SH10009,Warehouse_SF,Detroit,LaserShip,2023-01-19,2023-01-21,27.7,55.24,Delivered,214,2

In [7]:
shipment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Shipment_ID       2000 non-null   object
 1   Origin_Warehouse  2000 non-null   object
 2   Destination       2000 non-null   object
 3   Carrier           2000 non-null   object
 4   Shipment_Date     2000 non-null   object
 5   Delivery_Date     1968 non-null   object
 6   Weight_kg         2000 non-null   float64
 7   Cost              1959 non-null   float64
 8   Status            2000 non-null   object
 9   Distance_miles    2000 non-null   int64
 10  Transit_Days      2000 non-null   int64
dtypes: float64(2), int64(2), object(7)
memory usage: 172.0+ KB

In [8]:
shipment.shape

(2000, 11)

In [9]:
shipment["Carrier"].unique()

array(['UPS', 'DHL', 'OnTrac', 'FedEx', 'Amazon Logistics', 'LaserShip',
       'USPS'], dtype=object)

In [10]:
shipment["Carrier"].value_counts()

Carrier
LaserShip           303
OnTrac              299
FedEx               295
USPS                292
DHL                 281
Amazon Logistics    274
UPS                 256
Name: count, dtype: int64

In [11]:
shipment.sort_values(by="Weight_kg", ascending=False).head(5)

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
1868,SH11868,Warehouse_BOS,Boston,FedEx,2023-05-01,2023-05-05,5404.2,226.51,Delivered,1053,4
427,SH10427,Warehouse_LA,Phoenix,USPS,2023-06-13,2023-06-14,1062.2,51.54,Delivered,373,1
736,SH10736,Warehouse_DEN,Los Angeles,LaserShip,2023-10-27,2023-11-02,474.2,341.15,Delivered,2200,6
415,SH10415,Warehouse_ATL,Minneapolis,Amazon Logistics,2023-04-25,2023-05-01,331.7,242.34,Delivered,1727,6
1211,SH11211,Warehouse_LA,San Francisco,FedEx,2023-06-16,2023-06-28,250.9,395.00,Delayed,239,1

In [12]:
shipment.loc[shipment["Distance_miles"].idxmax()]

Shipment_ID              SH11645
Origin_Warehouse    Warehouse_LA
Destination          Los Angeles
Carrier                      DHL
Shipment_Date         2023-02-02
Delivery_Date         2023-02-08
Weight_kg                   15.5
Cost                       351.5
Status                 Delivered
Distance_miles              2499
Transit_Days                   6
Name: 1645, dtype: object

In [13]:
shipment.loc[shipment["Cost"].idxmin()]

Shipment_ID              SH11382
Origin_Warehouse    Warehouse_LA
Destination             New York
Carrier                     USPS
Shipment_Date         2023-07-25
Delivery_Date         2023-08-03
Weight_kg                    4.3
Cost                       17.89
Status                   Delayed
Distance_miles               105
Transit_Days                   4
Name: 1382, dtype: object

In [16]:
shipment.dtypes
shipment["Shipment_Date"] = pd.to_datetime(shipment["Shipment_Date"])
shipment["Shipment_Date"]

0      2023-10-02
1      2023-12-06
2      2023-09-18
3      2023-01-26
4      2023-06-03
          ...
1995   2023-01-18
1996   2023-10-27
1997   2023-02-13
1998   2023-10-17
1999   2023-07-08
Name: Shipment_Date, Length: 2000, dtype: datetime64[ns]

In [17]:
shipment["Delivery_Date"].isna().sum()

np.int64(32)

In [18]:
shipment[shipment["Origin_Warehouse"] == "Warehouse_MIA"]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
10,SH10010,Warehouse_MIA,Chicago,FedEx,2023-02-02,2023-02-07,7.1,251.53,Delivered,1736,5
19,SH10019,Warehouse_MIA,Portland,DHL,2023-01-16,2023-01-21,51.2,290.72,Delivered,1660,5
20,SH10020,Warehouse_MIA,Miami,FedEx,2023-08-10,2023-07-11,7.8,216.42,Delivered,1696,5
...,...,...,...,...,...,...,...,...,...,...,...
1957,SH11957,Warehouse_MIA,Chicago,DHL,2023-02-25,2023-02-28,9.8,157.80,Delivered,992,3
1960,SH11960,Warehouse_MIA,Boston,FedEx,2023-10-20,2023-10-25,12.9,245.79,Delivered,1734,5
1963,SH11963,Warehouse_MIA,San Francisco,LaserShip,2023-11-21,2023-11-27,31.5,320.88,Delivered,1900,6
1986,SH11986,Warehouse_MIA,Detroit,OnTrac,2023-10-12,2023-10-17,4.8,31.95,Delayed,236,3
1999,SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [20]:
shipment[shipment["Weight_kg"] > 100]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
89,SH10089,Warehouse_NYC,Portland,LaserShip,2023-11-10,2023-11-14,127.8,247.54,Delivered,1482,4
176,SH10176,Warehouse_NYC,Miami,USPS,2023-06-17,2023-06-19,105.0,180.26,Returned,543,2
392,SH10392,Warehouse_SF,Boston,FedEx,2023-01-27,2023-01-30,110.9,283.94,Delivered,1032,3
415,SH10415,Warehouse_ATL,Minneapolis,Amazon Logistics,2023-04-25,2023-05-01,331.7,242.34,Delivered,1727,6
427,SH10427,Warehouse_LA,Phoenix,USPS,2023-06-13,2023-06-14,1062.2,51.54,Delivered,373,1
582,SH10582,Warehouse_CHI,Minneapolis,LaserShip,2023-10-11,2023-10-16,108.6,221.52,Delivered,1869,5
680,SH10680,Warehouse_ATL,Houston,FedEx,2023-08-15,2023-08-20,122.7,432.92,Delivered,1984,5
694,SH10694,Warehouse_DEN,Denver,FedEx,2023-02-16,2023-02-21,108.4,397.96,Delivered,1964,5
711,SH10711,Warehouse_NYC,Los Angeles,LaserShip,2023-10-30,2023-11-03,139.4,415.94,Delivered,1881,4
736,SH10736,Warehouse_DEN,Los Angeles,LaserShip,2023-10-27,2023-11-02,474.2,341.15,Delivered,2200,6
779,SH10779,Warehouse_ATL,Portland,USPS,2023-02-24,2023-02-27,103.4,226.95,Delivered,779,3
862,SH10862,Warehouse_MIA,Houston,OnTrac,2023-09-20,2023-09-24,139.3,235.27,Delivered,547,4
874,SH10874,Warehouse_DEN,Atlanta,OnTrac,2023-07-30,2023-08-02,108.8,204.71,Delivered,784,3
879,SH10879,Warehouse_ATL,Los Angeles,OnTrac,2023-10-04,2023-10-09,125.8,154.81,Delivered,144,5
1024,SH11024,Warehouse_NYC,Atlanta,UPS,2023-04-16,2023-04-18,166.1,337.18,Delivered,870,2
1190,SH11190,Warehouse_CHI,Minneapolis,FedEx,2023-03-22,2023-03-24,152.7,290.77,Delivered,841,2
1211,SH11211,Warehouse_LA,San Francisco,FedEx,2023-06-16,2023-06-28,250.9,395.00,Delayed,239,1
1280,SH11280,Warehouse_HOU,Portland,USPS,2023-11-25,2023-12-03,110.7,429.91,Returned,1985,8
1326,SH11326,Warehouse_SF,Portland,UPS,2023-03-30,2023-04-03,127.0,342.10,Delivered,1334,4
1437,SH11437,Warehouse_BOS,Boston,USPS,2023-01-05,2023-01-09,111.0,301.20,Delivered,1782,4
1460,SH11460,Warehouse_ATL,Phoenix,UPS,2023-07-05,2023-07-08,100.9,172.46,Delivered,390,3
1476,SH11476,Warehouse_ATL,Seattle,FedEx,2023-08-05,2023-08-09,153.0,334.41,Delivered,1058,4
1538,SH11538,Warehouse_CHI,Miami,FedEx,2023-05-13,2023-05-17,179.1,216.48,Delivered,1350,4
1552,SH11552,Warehouse_SEA,Boston,OnTrac,2023-01-03,NaN,184.3,497.31,Delayed,1941,7
1570,SH11570,Warehouse_CHI,Chicago,LaserShip,2023-03-07,2023-03-11,137.5,165.56,Delivered,136,4
1583,SH11583,Warehouse_HOU,Chicago,USPS,2023-12-19,2023-12-23,108.5,299.16,Delivered,1240,4
1716,SH11716,Warehouse_SEA,Portland,OnTrac,2023-06-15,2023-06-24,108.8,368.09,Delayed,1857,5
1730,SH11730,Warehouse_DEN,San Francisco,USPS,2023-04-03,2023-04-07,226.6,44.83,Delivered,202,4
1765,SH11765,Warehouse_CHI,Chicago,UPS,2023-02-26,2023-02-28,122.7,288.29,Delivered,962,2
1868,SH11868,Warehouse_BOS,Boston,FedEx,2023-05-01,2023-05-05,5404.2,226.51,Delivered,1053,4
1870,SH11870,Warehouse_DEN,Houston,OnTrac,2023-01-06,2023-01-10,119.7,390.46,Delivered,1834,4

In [21]:
shipment[shipment["Status"] == "Delayed"]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
11,SH10011,Warehouse_ATL,Boston,Amazon Logistics,2023-05-28,2023-06-04,38.2,357.12,Delayed,2366,6
27,SH10027,Warehouse_DEN,Boston,USPS,2023-12-30,2024-01-05,10.1,309.59,Delayed,1986,5
33,SH10033,Warehouse_SF,Denver,USPS,2023-03-26,2023-04-02,15.8,66.35,Delayed,431,2
36,SH10036,Warehouse_ATL,Los Angeles,FedEx,2023-06-02,2023-06-18,27.9,123.81,Delayed,659,3
50,SH10050,Warehouse_MIA,New York,FedEx,2023-08-06,2023-08-22,29.5,340.07,Delayed,2396,6
...,...,...,...,...,...,...,...,...,...,...,...
1918,SH11918,Warehouse_NYC,Boston,USPS,2023-12-08,2023-12-11,6.7,42.11,Delayed,215,1
1954,SH11954,Warehouse_DEN,Denver,FedEx,2023-06-09,2023-06-12,24.0,103.60,Delayed,506,2
1962,SH11962,Warehouse_LA,Phoenix,UPS,2023-04-28,2023-05-07,10.9,66.58,Delayed,373,4
1977,SH11977,Warehouse_CHI,Houston,UPS,2023-05-10,2023-05-23,29.6,300.77,Delayed,2345,6
1986,SH11986,Warehouse_MIA,Detroit,OnTrac,2023-10-12,2023-10-17,4.8,31.95,Delayed,236,3

In [22]:
shipment[["Shipment_ID", "Carrier", "Cost"]].head(15)

   Shipment_ID           Carrier    Cost
0      SH10000               UPS   67.46
1      SH10001               DHL  268.85
2      SH10002               DHL   74.35
3      SH10003            OnTrac  187.04
4      SH10004            OnTrac  120.01
5      SH10005             FedEx  143.26
6      SH10006               UPS  225.23
7      SH10007  Amazon Logistics  281.23
8      SH10008  Amazon Logistics  341.93
9      SH10009         LaserShip   55.24
10     SH10010             FedEx  251.53
11     SH10011  Amazon Logistics  357.12
12     SH10012             FedEx  121.14
13     SH10013               UPS  272.48
14     SH10014             FedEx  266.08

In [23]:
shipment[(shipment["Shipment_Date"] >= "2023-06-01") & (shipment["Shipment_Date"] <= "2023-06-30")]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
17,SH10017,Warehouse_LA,San Francisco,OnTrac,2023-06-08,2023-06-11,43.2,80.60,In Transit,223,3
29,SH10029,Warehouse_SEA,Chicago,DHL,2023-06-27,2023-07-03,13.0,347.94,Delivered,2310,6
36,SH10036,Warehouse_ATL,Los Angeles,FedEx,2023-06-02,2023-06-18,27.9,123.81,Delayed,659,3
67,SH10067,Warehouse_SEA,Seattle,DHL,2023-06-11,2023-06-14,42.3,195.98,Delivered,998,3
...,...,...,...,...,...,...,...,...,...,...,...
1950,SH11950,Warehouse_HOU,Denver,UPS,2023-06-16,2023-06-19,6.9,133.01,Delivered,1030,3
1954,SH11954,Warehouse_DEN,Denver,FedEx,2023-06-09,2023-06-12,24.0,103.60,Delayed,506,2
1972,SH11972,Warehouse_ATL,Houston,USPS,2023-06-29,2023-06-30,9.5,31.25,Delivered,209,1
1991,SH11991,Warehouse_SEA,Seattle,DHL,2023-06-27,2023-07-03,17.7,368.38,Delivered,2300,6
1993,SH11993,Warehouse_CHI,Boston,DHL,2023-06-09,2023-06-15,10.3,355.32,Delivered,2350,6

In [24]:
shipment[(shipment["Cost"] >= 200) & (shipment["Cost"] <= 300)]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
6,SH10006,Warehouse_BOS,Houston,UPS,2023-10-19,2023-10-23,0.4,225.23,Delivered,1522,4
7,SH10007,Warehouse_CHI,Portland,Amazon Logistics,2023-02-27,2023-03-08,16.7,281.23,Delivered,2013,9
10,SH10010,Warehouse_MIA,Chicago,FedEx,2023-02-02,2023-02-07,7.1,251.53,Delivered,1736,5
13,SH10013,Warehouse_NYC,Phoenix,UPS,2023-12-28,2024-01-03,20.7,272.48,Delivered,1574,6
...,...,...,...,...,...,...,...,...,...,...,...
1990,SH11990,Warehouse_HOU,Chicago,OnTrac,2023-02-13,2023-02-18,38.8,248.50,Delivered,1877,5
1995,SH11995,Warehouse_BOS,San Francisco,FedEx,2023-01-18,2023-01-23,7.9,217.78,Delivered,1616,5
1996,SH11996,Warehouse_HOU,Phoenix,UPS,2023-10-27,2023-11-01,36.5,279.47,Delivered,1708,5
1997,SH11997,Warehouse_HOU,Portland,LaserShip,2023-02-13,2023-02-19,11.4,250.32,Delivered,1912,6
1998,SH11998,Warehouse_SEA,Detroit,USPS,2023-10-17,2023-10-22,10.9,272.31,Delivered,2188,5

In [25]:
shipment[shipment["Status"] != "Delivered"]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
11,SH10011,Warehouse_ATL,Boston,Amazon Logistics,2023-05-28,2023-06-04,38.2,357.12,Delayed,2366,6
16,SH10016,Warehouse_CHI,Detroit,USPS,2023-01-25,2023-01-26,24.1,60.27,Lost,283,1
17,SH10017,Warehouse_LA,San Francisco,OnTrac,2023-06-08,2023-06-11,43.2,80.60,In Transit,223,3
21,SH10021,Warehouse_SEA,Houston,LaserShip,2023-08-23,2023-08-27,29.6,216.63,Returned,1407,4
27,SH10027,Warehouse_DEN,Boston,USPS,2023-12-30,2024-01-05,10.1,309.59,Delayed,1986,5
...,...,...,...,...,...,...,...,...,...,...,...
1954,SH11954,Warehouse_DEN,Denver,FedEx,2023-06-09,2023-06-12,24.0,103.60,Delayed,506,2
1958,SH11958,Warehouse_DEN,Boston,USPS,2023-08-08,2023-08-14,23.4,226.29,In Transit,1921,6
1962,SH11962,Warehouse_LA,Phoenix,UPS,2023-04-28,2023-05-07,10.9,66.58,Delayed,373,4
1977,SH11977,Warehouse_CHI,Houston,UPS,2023-05-10,2023-05-23,29.6,300.77,Delayed,2345,6
1986,SH11986,Warehouse_MIA,Detroit,OnTrac,2023-10-12,2023-10-17,4.8,31.95,Delayed,236,3

In [26]:
shipment[(shipment["Destination"] == "New York") & (shipment["Transit_Days"] > 5)]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
50,SH10050,Warehouse_MIA,New York,FedEx,2023-08-06,2023-08-22,29.5,340.07,Delayed,2396,6
103,SH10103,Warehouse_BOS,New York,Amazon Logistics,2023-01-14,2023-01-25,6.3,283.56,Delivered,2366,11
105,SH10105,Warehouse_MIA,New York,DHL,2023-04-23,2023-05-06,40.7,270.27,Delayed,1682,6
122,SH10122,Warehouse_HOU,New York,Amazon Logistics,2023-05-18,2023-05-25,14.4,280.59,Delivered,2399,7
172,SH10172,Warehouse_SEA,New York,Amazon Logistics,2023-04-23,2023-05-01,35.1,272.06,Delivered,2056,8
196,SH10196,Warehouse_SF,New York,OnTrac,2023-10-16,2023-10-22,19.0,321.04,Lost,2278,6
227,SH10227,Warehouse_SEA,New York,OnTrac,2023-11-29,2023-12-05,16.1,161.74,Delivered,1053,6
308,SH10308,Warehouse_HOU,New York,DHL,2023-03-15,2023-03-21,14.4,391.92,Delivered,2448,6
409,SH10409,Warehouse_BOS,New York,FedEx,2023-05-05,2023-05-11,6.3,267.55,Delivered,2108,6
601,SH10601,Warehouse_LA,New York,Amazon Logistics,2023-05-29,2023-06-04,19.9,316.03,Delivered,2488,6
648,SH10648,Warehouse_DEN,New York,OnTrac,2023-09-25,2023-10-01,37.1,236.03,Delivered,1673,6
670,SH10670,Warehouse_BOS,New York,LaserShip,2023-03-20,2023-03-28,28.1,192.15,Delivered,1431,8
714,SH10714,Warehouse_HOU,New York,LaserShip,2023-01-28,2023-02-06,66.5,345.16,Delayed,2301,7
774,SH10774,Warehouse_SEA,New York,DHL,2023-04-11,2023-04-27,73.6,437.29,Delayed,2241,6
942,SH10942,Warehouse_SF,New York,Amazon Logistics,2023-04-28,2023-05-04,10.1,221.55,Delivered,1943,6
976,SH10976,Warehouse_HOU,New York,UPS,2023-06-03,2023-06-09,17.7,309.30,Delivered,2198,6
999,SH10999,Warehouse_HOU,New York,LaserShip,2023-11-14,2023-11-21,19.4,348.76,Delivered,2417,7
1227,SH11227,Warehouse_MIA,New York,UPS,2023-06-09,2023-06-16,17.4,250.19,Delivered,1839,7
1403,SH11403,Warehouse_BOS,New York,LaserShip,2023-06-09,2023-06-15,38.8,361.92,Delivered,2362,6
1412,SH11412,Warehouse_ATL,New York,DHL,2023-04-16,2023-04-22,24.9,297.44,Delivered,2010,6
1422,SH11422,Warehouse_SEA,New York,DHL,2023-12-20,2023-12-26,6.6,289.77,Delivered,1656,6
1561,SH11561,Warehouse_SEA,New York,USPS,2023-04-22,2023-04-29,22.1,305.98,Delivered,2347,7
1715,SH11715,Warehouse_SF,New York,FedEx,2023-05-01,2023-05-09,48.9,354.59,Lost,2059,8
1824,SH11824,Warehouse_HOU,New York,USPS,2023-02-20,2023-02-27,89.4,267.14,Delivered,1548,7
1864,SH11864,Warehouse_SF,New York,FedEx,2023-07-11,2023-07-17,88.9,424.24,Delivered,2356,6
1872,SH11872,Warehouse_LA,New York,LaserShip,2023-11-05,2023-11-11,17.3,309.39,Delivered,1780,6
1944,SH11944,Warehouse_LA,New York,UPS,2023-12-29,2024-01-04,15.9,329.11,Delivered,1899,6

In [27]:
shipment.nsmallest(10, "Transit_Days")

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
16,SH10016,Warehouse_CHI,Detroit,USPS,2023-01-25,2023-01-26,24.1,60.27,Lost,283,1
35,SH10035,Warehouse_BOS,Dallas,OnTrac,2023-07-16,2023-07-17,37.7,55.09,Lost,131,1
76,SH10076,Warehouse_DEN,Houston,Amazon Logistics,2023-11-12,2023-11-13,25.4,85.28,Delivered,319,1
96,SH10096,Warehouse_MIA,Atlanta,DHL,2023-08-20,2023-08-21,9.6,42.77,Delivered,241,1
119,SH10119,Warehouse_DEN,Minneapolis,DHL,2023-07-10,2023-07-11,21.6,64.74,Delivered,261,1
180,SH10180,Warehouse_DEN,Phoenix,Amazon Logistics,2023-01-21,2023-01-22,19.4,40.24,Delivered,152,1
225,SH10225,Warehouse_BOS,Portland,Amazon Logistics,2023-09-13,2023-09-18,19.3,98.54,Delayed,585,1
229,SH10229,Warehouse_DEN,Portland,Amazon Logistics,2023-03-13,2023-03-14,8.8,27.23,Delivered,156,1
257,SH10257,Warehouse_MIA,Dallas,FedEx,2023-02-28,2023-03-01,27.1,79.46,Delivered,338,1
263,SH10263,Warehouse_DEN,Portland,FedEx,2023-08-31,2023-09-01,8.6,34.32,Delivered,165,1

In [28]:
shipment[shipment["Cost"].isna()]

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
71,SH10071,Warehouse_CHI,Seattle,OnTrac,2023-06-20,2023-06-25,30.7,NaN,Delivered,2307,5
101,SH10101,Warehouse_DEN,Miami,LaserShip,2023-08-28,2023-08-30,51.0,NaN,Delivered,179,2
132,SH10132,Warehouse_DEN,San Francisco,DHL,2023-07-07,NaN,8.4,NaN,Delivered,815,3
146,SH10146,Warehouse_BOS,Portland,USPS,2023-08-12,2023-08-17,23.7,NaN,Delivered,1459,5
183,SH10183,Warehouse_HOU,Dallas,Amazon Logistics,2023-09-24,2023-10-06,7.1,NaN,Delayed,1376,5
191,SH10191,Warehouse_SEA,Detroit,UPS,2023-03-02,2023-03-10,11.9,NaN,Delivered,2481,8
215,SH10215,Warehouse_DEN,Minneapolis,OnTrac,2023-06-07,2023-06-12,21.9,NaN,Delivered,1719,5
262,SH10262,Warehouse_LA,Phoenix,USPS,2023-03-13,2023-03-16,10.0,NaN,Delivered,373,3
273,SH10273,Warehouse_CHI,Miami,LaserShip,2023-01-04,2023-01-08,26.5,NaN,Delivered,1350,4
274,SH10274,Warehouse_LA,Miami,LaserShip,2023-03-15,2023-03-20,13.4,NaN,Delivered,916,5
335,SH10335,Warehouse_BOS,Minneapolis,Amazon Logistics,2023-04-24,2023-04-26,43.4,NaN,Delivered,844,2
389,SH10389,Warehouse_MIA,Boston,OnTrac,2023-09-03,2023-09-11,17.7,NaN,Delivered,2465,8
460,SH10460,Warehouse_SF,New York,USPS,2023-09-18,2023-09-19,68.9,NaN,Delivered,447,1
542,SH10542,Warehouse_MIA,Atlanta,Amazon Logistics,2023-01-08,2023-01-11,42.8,NaN,Delivered,900,3
718,SH10718,Warehouse_LA,Seattle,Amazon Logistics,2023-08-05,2023-07-06,35.0,NaN,Delivered,1135,3
719,SH10719,Warehouse_DEN,Chicago,DHL,2023-09-17,2023-09-23,21.9,NaN,Delivered,2344,6
784,SH10784,Warehouse_DEN,Phoenix,USPS,2023-03-16,2023-03-21,22.5,NaN,Delivered,1164,5
795,SH10795,Warehouse_HOU,Chicago,DHL,2023-02-07,2023-02-15,77.7,NaN,Delivered,2113,8
804,SH10804,Warehouse_BOS,Chicago,DHL,2023-06-03,2023-06-05,19.2,NaN,Delivered,285,2
964,SH10964,Warehouse_CHI,Chicago,USPS,2023-05-27,2023-05-29,7.2,NaN,Delivered,858,2
1020,SH11020,Warehouse_NYC,Boston,UPS,2023-09-23,2023-09-28,14.9,NaN,Delayed,215,1
1135,SH11135,Warehouse_NYC,Los Angeles,USPS,2023-11-30,2023-12-07,9.6,NaN,Delivered,1000,7
1185,SH11185,Warehouse_CHI,Boston,UPS,2023-06-27,2023-07-02,10.2,NaN,Delivered,1924,5
1193,SH11193,Warehouse_NYC,Chicago,FedEx,2023-07-18,2023-07-21,9.7,NaN,Delivered,790,3
1233,SH11233,Warehouse_ATL,Seattle,USPS,2023-01-11,2023-01-12,36.2,NaN,Delivered,101,1
1426,SH11426,Warehouse_ATL,San Francisco,UPS,2023-08-10,2023-08-14,4.9,NaN,Delivered,1591,4
1497,SH11497,Warehouse_HOU,Minneapolis,DHL,2023-10-19,2023-10-20,10.8,NaN,Delivered,185,1
1519,SH11519,Warehouse_DEN,Portland,LaserShip,2023-12-25,2023-12-26,22.3,NaN,Delivered,148,1
1532,SH11532,Warehouse_SF,Houston,LaserShip,2023-06-12,2023-06-15,35.4,NaN,Delivered,1203,3
1544,SH11544,Warehouse_LA,Seattle,LaserShip,2023-11-23,2023-11-26,51.0,NaN,Delivered,1135,3
1605,SH11605,Warehouse_NYC,Seattle,OnTrac,2023-03-25,2023-03-31,27.4,NaN,Delivered,986,6
1617,SH11617,Warehouse_HOU,Detroit,USPS,2023-09-04,2023-09-10,7.2,NaN,Delayed,881,5
1662,SH11662,Warehouse_CHI,Detroit,UPS,2023-12-09,2023-12-20,10.3,NaN,Delayed,283,1
1751,SH11751,Warehouse_BOS,Dallas,LaserShip,2023-08-03,2023-08-08,20.2,NaN,Delivered,1360,5
1809,SH11809,Warehouse_DEN,Atlanta,USPS,2023-07-12,2023-07-16,30.2,NaN,Delivered,1393,4
1844,SH11844,Warehouse_NYC,Dallas,Amazon Logistics,2023-01-15,2023-01-21,27.4,NaN,Delivered,1518,6
1848,SH11848,Warehouse_ATL,Minneapolis,Amazon Logistics,2023-08-01,2023-08-15,79.6,NaN,Delayed,1521,6
1888,SH11888,Warehouse_NYC,San Francisco,Amazon Logistics,2023-09-01,2023-09-03,10.7,NaN,Delivered,392,2
1899,SH11899,Warehouse_SEA,Los Angeles,USPS,2023-11-16,2023-11-22,9.2,NaN,Delivered,2393,6
1932,SH11932,Warehouse_BOS,Denver,DHL,2023-12-11,2023-12-14,10.4,NaN,Delivered,1467,3
1943,SH11943,Warehouse_SEA,Chicago,USPS,2023-08-31,2023-09-02,18.0,NaN,Delivered,971,2

In [30]:
shipment.groupby("Carrier")["Weight_kg"].sum()

Carrier
Amazon Logistics     7189.4
DHL                  7030.4
FedEx               13651.0
LaserShip            8785.1
OnTrac               7944.2
UPS                  6577.9
USPS                 9191.6
Name: Weight_kg, dtype: float64

In [31]:
shipment.groupby("Carrier")["Cost"].mean()

Carrier
Amazon Logistics    193.909251
DHL                 222.134764
FedEx               217.965952
LaserShip           207.857905
OnTrac              184.599017
UPS                 229.714542
USPS                182.661032
Name: Cost, dtype: float64

In [32]:
shipment.groupby("Origin_Warehouse")["Distance_miles"].max()

Origin_Warehouse
Warehouse_ATL    2466
Warehouse_BOS    2465
Warehouse_CHI    2469
Warehouse_DEN    2470
Warehouse_HOU    2490
Warehouse_LA     2499
Warehouse_MIA    2492
Warehouse_NYC    2488
Warehouse_SEA    2481
Warehouse_SF     2490
Name: Distance_miles, dtype: int64

In [33]:
shipment["Status"].value_counts()

Status
Delivered     1648
Delayed        199
In Transit      76
Lost            45
Returned        32
Name: count, dtype: int64

In [34]:
shipment.groupby("Destination")["Transit_Days"].mean()

Destination
Atlanta          4.075188
Boston           4.579832
Chicago          4.253247
Dallas           4.116788
Denver           3.753521
Detroit          4.000000
Houston          4.206349
Los Angeles      4.212598
Miami            4.260163
Minneapolis      4.168919
New York         4.153846
Phoenix          4.101351
Portland         4.205479
San Francisco    4.403101
Seattle          4.372727
Name: Transit_Days, dtype: float64

In [35]:
shipment.groupby("Origin_Warehouse")["Shipment_ID"].count()

Origin_Warehouse
Warehouse_ATL    207
Warehouse_BOS    192
Warehouse_CHI    197
Warehouse_DEN    196
Warehouse_HOU    212
Warehouse_LA     220
Warehouse_MIA    201
Warehouse_NYC    170
Warehouse_SEA    190
Warehouse_SF     215
Name: Shipment_ID, dtype: int64

In [36]:
shipment.groupby("Destination")["Cost"].sum().nlargest(3)

Destination
Detroit          32129.20
San Francisco    31443.86
Portland         30190.39
Name: Cost, dtype: float64

In [38]:
shipment.groupby("Carrier")["Weight_kg"].agg(["mean", "min", "max"])

                       mean  min     max
Carrier
Amazon Logistics  26.238686  1.9   331.7
DHL               25.019217  3.1    88.7
FedEx             46.274576  0.2  5404.2
LaserShip         28.993729  0.3   474.2
OnTrac            26.569231  0.0   184.3
UPS               25.694922  0.4   166.1
USPS              31.478082  0.6  1062.2

In [39]:
shipment.groupby("Carrier")["Status"].apply(lambda x: (x=="Delayed").mean() * 100)

Carrier
Amazon Logistics    12.408759
DHL                 13.879004
FedEx                8.813559
LaserShip            8.580858
OnTrac               9.698997
UPS                  9.375000
USPS                 7.191781
Name: Status, dtype: float64

In [40]:
shipment.groupby(shipment["Shipment_Date"].dt.to_period("M"))["Shipment_ID"].count()

Shipment_Date
2023-01    163
2023-02    139
2023-03    167
2023-04    162
2023-05    173
2023-06    164
2023-07    166
2023-08    182
2023-09    163
2023-10    173
2023-11    178
2023-12    170
Freq: M, Name: Shipment_ID, dtype: int64

In [42]:
shipment["Cost"].fillna(shipment["Cost"].mean())

0        67.46
1       268.85
2        74.35
3       187.04
4       120.01
         ...
1995    217.78
1996    279.47
1997    250.32
1998    272.31
1999    360.74
Name: Cost, Length: 2000, dtype: float64

In [44]:
shipment.dropna(subset=["Transit_Days"], inplace=True)
shipment

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
...,...,...,...,...,...,...,...,...,...,...,...
1995,SH11995,Warehouse_BOS,San Francisco,FedEx,2023-01-18,2023-01-23,7.9,217.78,Delivered,1616,5
1996,SH11996,Warehouse_HOU,Phoenix,UPS,2023-10-27,2023-11-01,36.5,279.47,Delivered,1708,5
1997,SH11997,Warehouse_HOU,Portland,LaserShip,2023-02-13,2023-02-19,11.4,250.32,Delivered,1912,6
1998,SH11998,Warehouse_SEA,Detroit,USPS,2023-10-17,2023-10-22,10.9,272.31,Delivered,2188,5
1999,SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [46]:
shipment.rename(columns={"Weight_kg": "Shipment_Weight_kg"}, inplace=True)
shipment

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
...,...,...,...,...,...,...,...,...,...,...,...
1995,SH11995,Warehouse_BOS,San Francisco,FedEx,2023-01-18,2023-01-23,7.9,217.78,Delivered,1616,5
1996,SH11996,Warehouse_HOU,Phoenix,UPS,2023-10-27,2023-11-01,36.5,279.47,Delivered,1708,5
1997,SH11997,Warehouse_HOU,Portland,LaserShip,2023-02-13,2023-02-19,11.4,250.32,Delivered,1912,6
1998,SH11998,Warehouse_SEA,Detroit,USPS,2023-10-17,2023-10-22,10.9,272.31,Delivered,2188,5
1999,SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [49]:
shipment["Status"].replace("Lost", "Not Found")
shipment

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
...,...,...,...,...,...,...,...,...,...,...,...
1995,SH11995,Warehouse_BOS,San Francisco,FedEx,2023-01-18,2023-01-23,7.9,217.78,Delivered,1616,5
1996,SH11996,Warehouse_HOU,Phoenix,UPS,2023-10-27,2023-11-01,36.5,279.47,Delivered,1708,5
1997,SH11997,Warehouse_HOU,Portland,LaserShip,2023-02-13,2023-02-19,11.4,250.32,Delivered,1912,6
1998,SH11998,Warehouse_SEA,Detroit,USPS,2023-10-17,2023-10-22,10.9,272.31,Delivered,2188,5
1999,SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [51]:
shipment.drop_duplicates(inplace=True)
shipment

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
...,...,...,...,...,...,...,...,...,...,...,...
1995,SH11995,Warehouse_BOS,San Francisco,FedEx,2023-01-18,2023-01-23,7.9,217.78,Delivered,1616,5
1996,SH11996,Warehouse_HOU,Phoenix,UPS,2023-10-27,2023-11-01,36.5,279.47,Delivered,1708,5
1997,SH11997,Warehouse_HOU,Portland,LaserShip,2023-02-13,2023-02-19,11.4,250.32,Delivered,1912,6
1998,SH11998,Warehouse_SEA,Detroit,USPS,2023-10-17,2023-10-22,10.9,272.31,Delivered,2188,5
1999,SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [52]:
shipment.sort_values(by=["Carrier", "Cost"], ascending=[True, False])

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
1988,SH11988,Warehouse_LA,Atlanta,Amazon Logistics,2023-01-18,2023-01-26,78.2,392.00,Delivered,2309,8
943,SH10943,Warehouse_CHI,Chicago,Amazon Logistics,2023-11-01,2023-11-08,8.9,390.80,Delivered,2441,7
887,SH10887,Warehouse_ATL,Boston,Amazon Logistics,2023-11-17,2023-11-23,42.3,378.62,Delivered,2282,6
1665,SH11665,Warehouse_SEA,Chicago,Amazon Logistics,2023-08-01,2023-08-09,70.5,367.67,Delivered,2442,8
11,SH10011,Warehouse_ATL,Boston,Amazon Logistics,2023-05-28,2023-06-04,38.2,357.12,Delayed,2366,6
...,...,...,...,...,...,...,...,...,...,...,...
1679,SH11679,Warehouse_SF,Phoenix,USPS,2023-05-17,2023-05-18,18.3,31.27,Delivered,117,1
1972,SH11972,Warehouse_ATL,Houston,USPS,2023-06-29,2023-06-30,9.5,31.25,Delivered,209,1
727,SH10727,Warehouse_DEN,Atlanta,USPS,2023-05-07,2023-05-12,6.2,25.02,Delivered,150,5
1531,SH11531,Warehouse_HOU,Portland,USPS,2023-10-31,2023-11-03,9.2,22.10,Delivered,123,3
1382,SH11382,Warehouse_LA,New York,USPS,2023-07-25,2023-08-03,4.3,17.89,Delayed,105,4

In [53]:
shipment.sort_values(by="Transit_Days", na_position="last")

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
16,SH10016,Warehouse_CHI,Detroit,USPS,2023-01-25,2023-01-26,24.1,60.27,Not Found,283,1
1972,SH11972,Warehouse_ATL,Houston,USPS,2023-06-29,2023-06-30,9.5,31.25,Delivered,209,1
1983,SH11983,Warehouse_SEA,Atlanta,Amazon Logistics,2023-05-16,2023-05-17,36.5,58.02,Delivered,145,1
1959,SH11959,Warehouse_SEA,New York,USPS,2023-01-25,2023-01-26,6.1,38.31,Delivered,247,1
1921,SH11921,Warehouse_HOU,San Francisco,LaserShip,2023-09-10,2023-09-11,25.7,55.30,Delivered,231,1
...,...,...,...,...,...,...,...,...,...,...,...
346,SH10346,Warehouse_SF,Houston,FedEx,2023-11-06,2023-11-16,10.8,349.56,In Transit,1953,10
581,SH10581,Warehouse_MIA,Chicago,FedEx,2023-01-20,2023-01-30,11.9,287.05,Delivered,1896,10
1733,SH11733,Warehouse_HOU,Phoenix,Amazon Logistics,2023-11-05,2023-11-16,22.5,320.20,Delivered,1865,11
103,SH10103,Warehouse_BOS,New York,Amazon Logistics,2023-01-14,2023-01-25,6.3,283.56,Delivered,2366,11
1093,SH11093,Warehouse_BOS,Portland,Amazon Logistics,2023-05-03,2023-05-15,7.7,226.92,Delivered,1895,12

In [54]:
shipment.sort_values("Delivery_Date").reset_index(drop=True)

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10497,Warehouse_MIA,Denver,FedEx,2023-01-02,2023-01-03,22.1,69.52,Delivered,309,1
1,SH11294,Warehouse_CHI,Minneapolis,LaserShip,2023-01-01,2023-01-03,19.7,106.66,Delivered,784,2
2,SH11295,Warehouse_ATL,Houston,USPS,2023-01-02,2023-01-05,31.8,134.96,Delivered,786,3
3,SH10683,Warehouse_LA,Dallas,Amazon Logistics,2023-01-02,2023-01-05,52.3,222.33,Delivered,1435,3
4,SH11302,Warehouse_BOS,New York,DHL,2023-01-02,2023-01-06,41.8,254.48,Delivered,1261,4
...,...,...,...,...,...,...,...,...,...,...,...
1995,SH11552,Warehouse_SEA,Boston,OnTrac,2023-01-03,NaN,184.3,497.31,Delayed,1941,7
1996,SH11565,Warehouse_HOU,Chicago,UPS,2023-04-10,NaN,39.2,293.51,Delivered,1732,6
1997,SH11580,Warehouse_SEA,Denver,UPS,2023-08-07,NaN,52.4,194.19,Delivered,1071,4
1998,SH11589,Warehouse_MIA,San Francisco,DHL,2023-05-06,NaN,42.5,287.00,Delivered,1527,3
1999,SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [60]:
shipment.reset_index(inplace=True)  
shipment.set_index("Shipment_ID", inplace=True) 
shipment

,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days
Shipment_ID,,,,,,,,,,
SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3
...,...,...,...,...,...,...,...,...,...,...
SH11995,Warehouse_BOS,San Francisco,FedEx,2023-01-18,2023-01-23,7.9,217.78,Delivered,1616,5
SH11996,Warehouse_HOU,Phoenix,UPS,2023-10-27,2023-11-01,36.5,279.47,Delivered,1708,5
SH11997,Warehouse_HOU,Portland,LaserShip,2023-02-13,2023-02-19,11.4,250.32,Delivered,1912,6
SH11998,Warehouse_SEA,Detroit,USPS,2023-10-17,2023-10-22,10.9,272.31,Delivered,2188,5
SH11999,Warehouse_MIA,Portland,OnTrac,2023-07-08,NaN,49.5,360.74,Delivered,2321,7

In [57]:
shipment.groupby("Carrier").apply(lambda x: x.nlargest(5, "Cost"))

C:\Users\Rakshitha GH\AppData\Local\Temp\ipykernel_5064\617279817.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  shipment.groupby("Carrier").apply(lambda x: x.nlargest(5, "Cost"))

                             Origin_Warehouse    Destination  \
Carrier          Shipment_ID
Amazon Logistics SH11988         Warehouse_LA        Atlanta
                 SH10943        Warehouse_CHI        Chicago
                 SH10887        Warehouse_ATL         Boston
                 SH11665        Warehouse_SEA        Chicago
                 SH10011        Warehouse_ATL         Boston
DHL              SH10303        Warehouse_DEN         Boston
                 SH10774        Warehouse_SEA       New York
                 SH10086        Warehouse_SEA    Minneapolis
                 SH10663        Warehouse_CHI        Seattle
                 SH10110        Warehouse_CHI        Houston
FedEx            SH10366        Warehouse_BOS         Boston
                 SH11938         Warehouse_LA        Detroit
                 SH11539         Warehouse_LA    Minneapolis
                 SH11732        Warehouse_HOU          Miami
                 SH10680        Warehouse_ATL        Houston
LaserShip        SH11105         Warehouse_LA  San Francisco
                 SH10619         Warehouse_SF        Phoenix
                 SH10711        Warehouse_NYC    Los Angeles
                 SH11722        Warehouse_HOU         Boston
                 SH10193        Warehouse_NYC         Dallas
OnTrac           SH11552        Warehouse_SEA         Boston
                 SH11087        Warehouse_BOS       Portland
                 SH11192         Warehouse_LA  San Francisco
                 SH10318        Warehouse_HOU    Los Angeles
                 SH11050        Warehouse_DEN         Dallas
UPS              SH10922        Warehouse_HOU        Detroit
                 SH11912         Warehouse_LA       Portland
                 SH10252        Warehouse_BOS    Los Angeles
                 SH11131        Warehouse_HOU    Minneapolis
                 SH10126        Warehouse_SEA          Miami
USPS             SH11149        Warehouse_SEA        Chicago
                 SH10517        Warehouse_HOU         Boston
                 SH11280        Warehouse_HOU       Portland
                 SH11340        Warehouse_ATL         Boston
                 SH11762        Warehouse_CHI        Chicago

                                       Carrier Shipment_Date Delivery_Date  \
Carrier          Shipment_ID
Amazon Logistics SH11988      Amazon Logistics    2023-01-18    2023-01-26
                 SH10943      Amazon Logistics    2023-11-01    2023-11-08
                 SH10887      Amazon Logistics    2023-11-17    2023-11-23
                 SH11665      Amazon Logistics    2023-08-01    2023-08-09
                 SH10011      Amazon Logistics    2023-05-28    2023-06-04
DHL              SH10303                   DHL    2023-12-05    2023-12-10
                 SH10774                   DHL    2023-04-11    2023-04-27
                 SH10086                   DHL    2023-11-22    2023-11-29
                 SH10663                   DHL    2023-10-17    2023-11-03
                 SH10110                   DHL    2023-09-22    2023-09-29
FedEx            SH10366                 FedEx    2023-12-12    2023-12-23
                 SH11938                 FedEx    2023-11-21    2023-11-28
                 SH11539                 FedEx    2023-11-23    2023-11-29
                 SH11732                 FedEx    2023-11-18    2023-11-24
                 SH10680                 FedEx    2023-08-15    2023-08-20
LaserShip        SH11105             LaserShip    2023-08-03    2023-08-10
                 SH10619             LaserShip    2023-12-16    2023-12-25
                 SH10711             LaserShip    2023-10-30    2023-11-03
                 SH11722             LaserShip    2023-12-31    2024-01-05
                 SH10193             LaserShip    2023-11-06    2023-11-14
OnTrac           SH11552                OnTrac    2023-01-03           NaN
                 SH11087                OnTrac    2023-11-07    2023-11-12
                 SH11192                OnTrac    2023-12-04    2023-12-09
                 SH10318                OnTrac    2023-11-26    2023-12-16
                 SH11050                OnTrac    2023-10-04    2023-10-10
UPS              SH10922                   UPS    2023-08-17    2023-08-23
                 SH11912                   UPS    2023-05-21    2023-05-28
                 SH10252                   UPS    2023-11-11    2023-11-16
                 SH11131                   UPS    2023-11-29    2023-12-05
                 SH10126                   UPS    2023-09-02    2023-09-09
USPS             SH11149                  USPS    2023-11-16    2023-11-19
                 SH10517                  USPS    2023-11-27    2023-12-03
                 SH11280                  USPS    2023-11-25    2023-12-03
                 SH11340                  USPS    2023-12-19    2023-12-24
                 SH11762                  USPS    2023-05-31    2023-06-05

                              Shipment_Weight_kg     Cost     Status  \
Carrier          Shipment_ID
Amazon Logistics SH11988                    78.2   392.00  Delivered
                 SH10943                     8.9   390.80  Delivered
                 SH10887                    42.3   378.62  Delivered
                 SH11665                    70.5   367.67  Delivered
                 SH10011                    38.2   357.12    Delayed
DHL              SH10303                    30.5   464.17  Delivered
                 SH10774                    73.6   437.29    Delayed
                 SH10086                    13.5   422.32  Delivered
                 SH10663                    38.0   416.88    Delayed
                 SH10110                    46.1   409.06  Delivered
FedEx            SH10366                    55.1   474.36    Delayed
                 SH11938                    61.7   455.69  Delivered
                 SH11539                    36.3   439.48  Delivered
                 SH11732                    47.6   434.73  Delivered
                 SH10680                   122.7   432.92  Delivered
LaserShip        SH11105                    54.6  6562.21  Delivered
                 SH10619                    43.2   416.42    Delayed
                 SH10711                   139.4   415.94  Delivered
                 SH11722                    27.4   392.67  Delivered
                 SH10193                    12.8   378.16  Delivered
OnTrac           SH11552                   184.3   497.31    Delayed
                 SH11087                    40.0   437.26  Delivered
                 SH11192                    19.0   416.08  Delivered
                 SH10318                    77.8   413.72    Delayed
                 SH11050                    85.3   406.22  Delivered
UPS              SH10922                    12.8  6229.12  Delivered
                 SH11912                    14.6  1597.99  Delivered
                 SH10252                    21.5   437.58  Delivered
                 SH11131                     1.1   394.62  Delivered
                 SH10126                    90.2   384.64  Delivered
USPS             SH11149                    19.0   782.71  Delivered
                 SH10517                    80.0   485.62  Delivered
                 SH11280                   110.7   429.91   Returned
                 SH11340                    80.1   423.48  Not Found
                 SH11762                    85.1   391.46  Delivered

                              Distance_miles  Transit_Days
Carrier          Shipment_ID
Amazon Logistics SH11988                2309             8
                 SH10943                2441             7
                 SH10887                2282             6
                 SH11665                2442             8
                 SH10011                2366             6
DHL              SH10303                2363             5
                 SH10774                2241             6
                 SH10086                2388             7
                 SH10663                2447             6
                 SH10110                2306             7
FedEx            SH10366                2247             6
                 SH11938                2430             7
                 SH11539                2181             6
                 SH11732                2194             6
                 SH10680                1984             5
LaserShip        SH11105                1942             7
                 SH10619                2266             7
                 SH10711                1881             4
                 SH11722                2353             5
                 SH10193                2465             8
OnTrac           SH11552                1941             7
                 SH11087                2431             5
                 SH11192                2473             5
                 SH10318                2313            10
                 SH11050                2470             6
UPS              SH10922                2490             6
                 SH11912                2187             7
                 SH10252                2433             5
                 SH11131                2484             6
                 SH10126                2188             7
USPS             SH11149                 870             3
                 SH10517                2479             6
                 SH11280                1985             8
                 SH11340                2412             5
                 SH11762                2467             5

In [62]:
shipment["Cost_per_Mile"] = shipment["Cost"] / shipment["Distance_miles"]
shipment["Cost_per_Mile"]

Shipment_ID
SH10000    0.231821
SH10001    0.219469
SH10002    0.337955
SH10003    0.161799
SH10004    0.118004
             ...
SH11995    0.134765
SH11996    0.163624
SH11997    0.130921
SH11998    0.124456
SH11999    0.155424
Name: Cost_per_Mile, Length: 2000, dtype: float64

In [64]:
shipment["Late_Delivery"] = shipment["Status"] == "Delayed"
shipment["Late_Delivery"]

Shipment_ID
SH10000    False
SH10001    False
SH10002    False
SH10003    False
SH10004    False
           ...
SH11995    False
SH11996    False
SH11997    False
SH11998    False
SH11999    False
Name: Late_Delivery, Length: 2000, dtype: bool

In [66]:
shipment["Shipment_Month"] = shipment["Shipment_Date"].dt.month_name()
shipment["Shipment_Month"]

Shipment_ID
SH10000      October
SH10001     December
SH10002    September
SH10003      January
SH10004         June
             ...
SH11995      January
SH11996      October
SH11997     February
SH11998      October
SH11999         July
Name: Shipment_Month, Length: 2000, dtype: object

In [67]:
shipment["Carrier"] = shipment["Carrier"].str.upper()
shipment["Carrier"]

Shipment_ID
SH10000          UPS
SH10001          DHL
SH10002          DHL
SH10003       ONTRAC
SH10004       ONTRAC
             ...
SH11995        FEDEX
SH11996          UPS
SH11997    LASERSHIP
SH11998         USPS
SH11999       ONTRAC
Name: Carrier, Length: 2000, dtype: object

In [69]:
import numpy as np
shipment["Weight_Normalized"] = (shipment["Shipment_Weight_kg"] - shipment["Shipment_Weight_kg"].min()) / \
                                (shipment["Shipment_Weight_kg"].max() - shipment["Shipment_Weight_kg"].min())
shipment["Weight_Normalized"]

Shipment_ID
SH10000    0.004756
SH10001    0.007198
SH10002    0.006884
SH10003    0.007883
SH10004    0.001462
             ...
SH11995    0.001462
SH11996    0.006754
SH11997    0.002109
SH11998    0.002017
SH11999    0.009160
Name: Weight_Normalized, Length: 2000, dtype: float64

In [70]:
shipment[shipment["Status"] == "Delayed"].to_csv("delayed_shipments.csv", index=False)

In [71]:
shipment[shipment["Distance_miles"] > 2000].to_excel("long_distance_shipments.xlsx", index=False)

In [72]:
shipment.query("Origin_Warehouse == 'Warehouse_SF' and Cost > 250")

,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Shipment_Weight_kg,Cost,Status,Distance_miles,Transit_Days,Cost_per_Mile,Late_Delivery,Shipment_Month,Weight_Normalized
Shipment_ID,,,,,,,,,,,,,,
SH10028,Warehouse_SF,Dallas,LASERSHIP,2023-12-15,2023-12-20,22.8,373.64,Delivered,2229,5,0.167627,False,December,0.004219
SH10037,Warehouse_SF,Dallas,AMAZON LOGISTICS,2023-11-06,2023-11-11,26.6,333.35,Delivered,2209,5,0.150905,False,November,0.004922
SH10038,Warehouse_SF,Detroit,LASERSHIP,2023-11-04,2023-11-10,30.7,282.71,Returned,1674,6,0.168883,False,November,0.005681
SH10066,Warehouse_SF,Miami,AMAZON LOGISTICS,2023-04-03,2023-04-09,15.9,325.16,Delivered,2463,6,0.132018,False,April,0.002942
SH10079,Warehouse_SF,Detroit,UPS,2023-06-30,2023-07-10,22.4,309.17,Delayed,2214,7,0.139643,True,June,0.004145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SH11864,Warehouse_SF,New York,FEDEX,2023-07-11,2023-07-17,88.9,424.24,Delivered,2356,6,0.180068,False,July,0.016450
SH11890,Warehouse_SF,Seattle,DHL,2023-05-21,2023-05-28,29.5,326.18,Delivered,2273,7,0.143502,False,May,0.005459
SH11929,Warehouse_SF,Miami,LASERSHIP,2023-04-22,2023-04-28,41.0,321.15,Delivered,2478,6,0.129600,False,April,0.007587
SH11979,Warehouse_SF,Portland,FEDEX,2023-05-05,2023-05-10,54.6,307.90,Delivered,1675,5,0.183821,False,May,0.010103
SH11980,Warehouse_SF,Detroit,DHL,2023-03-03,2023-03-09,21.5,264.67,Delivered,1813,6,0.145985,False,March,0.003978

In [73]:
shipment.pivot_table(values="Cost", index="Origin_Warehouse", columns="Carrier", aggfunc="mean")

Carrier,AMAZON LOGISTICS,DHL,FEDEX,LASERSHIP,ONTRAC,UPS,USPS
Origin_Warehouse,,,,,,,
Warehouse_ATL,212.571261,226.314815,206.243333,163.149231,178.780690,212.355213,186.376181
Warehouse_BOS,187.384417,226.994942,217.950909,193.346181,207.704839,216.549231,184.507914
Warehouse_CHI,170.447353,221.510952,193.347000,187.538628,158.848523,197.691728,183.340654
Warehouse_DEN,169.842432,213.567660,218.296452,151.785114,208.137189,184.968889,184.724563
Warehouse_HOU,203.079021,211.238440,209.055517,193.631212,194.413939,395.722424,192.902864
Warehouse_LA,199.793387,200.736129,255.275000,350.437261,175.694063,213.260333,183.329112
Warehouse_MIA,209.950982,241.074286,201.894000,175.260690,186.071843,217.597037,185.836400
Warehouse_NYC,180.760880,210.440435,213.218761,200.785217,154.881090,226.449533,177.105858
Warehouse_SEA,219.352105,233.881471,243.749394,179.855652,195.333000,196.202345,185.034938
Warehouse_SF,200.772188,222.687241,225.634643,217.004921,178.445385,172.108462,174.565535

In [74]:
shipment["Destination"].value_counts().idxmax()

'Chicago'